@font-face {
  font-family: 'Spicy Rice';
  font-style: normal;
  font-weight: 10;
  src: local('Spicy Rice'), local('SpicyRice-Regular'),
    url(https://fonts.gstatic.com/s/spicyrice/v8/uK_24rSEd-Uqwk4jY1RyKvi8Ww.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
body {
  background: #a6be8f;
  background-image: url(../assets/back.jpg);
  background-size: cover;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
  }
  .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  article {
    background-color: #dee5d9;
    flex: 0 1 32%;
    margin: 10px auto;
    border-radius: 2mm;
    align-items: center;
    min-height: 250px;
    min-width: 300px;
  }

  article h2 {
    color: #1e1f1d;
    text-align: center;
    font-size: 5;
    margin: 10px;
  }
  .comments {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
