body {
  background: #a6be8f;
  color: #1e1f1d;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px;
  }
  .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  article {
    background-color: #dee5d9;
    flex: 0 1 32%;
    margin: 10px auto;
    border-radius: 2mm;
    align-items: center;
    min-height: 250px;
    min-width: 300px;
  }

  article h2 {
    color: #1e1f1d;
    text-align: center;
    font-size: 5;
    margin: 10px;
  }
}
